<div class="route-wrapper">
  <div class="route-container container">
    <div class="departure-station-wrapper">
      <div class="station">
        {{ departure_station }}
      </div>
    </div>
    <div class="distance-wrapper">
      {{ elements.distance }}
      <div class="connection">
        <div class="point start"></div>
        <div class="line"></div>
        <div class="point end"></div>
      </div>
    </div>
    <div class="arrival-station-wrapper">
      <div class="station">
        {{ arrival_station }}
      </div>
    </div>
  </div>
</div>