{#
/**
 * @file timetable_entry.html.twig
 * Default theme implementation to present Timetable entry data.
 *
 * This template is used when viewing Timetable entry pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_timetable_entry()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('timetable_entry') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
