<div class="top-right-menu-wrapper">
  <div class="open-settings"></div>
  <div class="current-settings">
    <span class="iti-flag us"></span><span class="current-language">En</span><span class="delimiter">|</span><span class="currency">$</span><span class="currency-name">US dollar</span>
  </div>
  <div class="choose-settings">
    <div class="menu-languages">
      <label>{{ 'Language'|t }}</label>
      <div class="list">
        <div class="flag-us active"><span class="iti-flag us"></span>English</div>
        <div class="flag-ru"><span class="iti-flag ru"></span>Русский</div>
        <div class="flag-es"><span class="iti-flag es"></span>Español</div>
        <div class="flag-de"><span class="iti-flag de"></span>Deutsch</div>
        <div class="flag-fr"><span class="iti-flag fr"></span>Francais</div>
        <div class="flag-ru"><span class="iti-flag ru"></span>Русский</div>
        <div class="flag-es"><span class="iti-flag es"></span>Español</div>
        <div class="flag-de"><span class="iti-flag de"></span>Deutsch</div>
        <div class="flag-fr"><span class="iti-flag fr"></span>Francais</div>
        <div class="flag-ru"><span class="iti-flag ru"></span>Русский</div>
        <div class="flag-es"><span class="iti-flag es"></span>Español</div>
        <div class="flag-de"><span class="iti-flag de"></span>Deutsch</div>
        <div class="flag-fr"><span class="iti-flag fr"></span>Francais</div>
        <div class="flag-ru"><span class="iti-flag ru"></span>Русский</div>
        <div class="flag-es"><span class="iti-flag es"></span>Español</div>
        <div class="flag-de"><span class="iti-flag de"></span>Deutsch</div>
        <div class="flag-fr"><span class="iti-flag fr"></span>Francais</div>
        <div class="flag-ru"><span class="iti-flag ru"></span>Русский</div>
        <div class="flag-es"><span class="iti-flag es"></span>Español</div>
        <div class="flag-de"><span class="iti-flag de"></span>Deutsch</div>
        <div class="flag-fr"><span class="iti-flag fr"></span>Francais</div>
      </div>
    </div>
    <div class="menu-currencies">
      <label>{{ 'Currency'|t }}</label>
      <div class="list">
        <div class="currency-us active">$ US dollar</div>
        <div class="currency-ru">₽ Российский рубль</div>
        <div class="currency-eu">€ Euro</div>
        <div class="currency-gb">£ British pound</div>
        <div class="currency-au">$ AU dollar</div>
        <div class="currency-us">$ US dollar</div>
        <div class="currency-ru">₽ Российский рубль</div>
        <div class="currency-eu">€ Euro</div>
        <div class="currency-gb">£ British pound</div>
        <div class="currency-au">$ AU dollar</div>
        <div class="currency-us">$ US dollar</div>
        <div class="currency-ru">₽ Российский рубль</div>
        <div class="currency-eu">€ Euro</div>
        <div class="currency-gb">£ British pound</div>
        <div class="currency-au">$ AU dollar</div>
        <div class="currency-us">$ US dollar</div>
        <div class="currency-ru">₽ Российский рубль</div>
        <div class="currency-eu">€ Euro</div>
        <div class="currency-gb">£ British pound</div>
        <div class="currency-au">$ AU dollar</div>
      </div>
    </div>
  </div>
</div>