<div class="mobile-settings">{{ 'Settings'|t }}</div>
<div class="mobile-languages-wrapper mobile-settings-wrapper">
  <select class="mobile-languages">
    <option>English</option>
    <option>Русский</option>
    <option>Español</option>
    <option>Deutsch</option>
  </select>
</div>
<div class="mobile-currencies-wrapper mobile-settings-wrapper">
  <select class="mobile-currencies">
    <option>USD</option>
    <option>EURO</option>
    <option>Рубль</option>
    <option>British pound</option>
  </select>
</div>