{#
/**
 * @file base_product.html.twig
 * Default theme implementation to present Base product data.
 *
 * This template is used when viewing Base product pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_base_product()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('base_product') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
