{#
/**
 * @file store_order.html.twig
 * Default theme implementation to present Store order data.
 *
 * This template is used when viewing Store order pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_store_order()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('store_order') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
