@font-face {
  font-family: Helvetica Neue;
  src: url(../../../custom-fonts/HelveticaNeueLt.ttf);
}
body {
  font-family: Arial, sans-serif;
}

@font-face {
  font-family: Helvetica Neue;
  src: url(../../../custom-fonts/HelveticaNeueLt.ttf);
}
