{#
/**
 * @file coach_scheme.html.twig
 * Default theme implementation to present Coach scheme data.
 *
 * This template is used when viewing Coach scheme pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_coach_scheme()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('coach_scheme') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
