{#
/**
 * @file train.html.twig
 * Default theme implementation to present Train data.
 *
 * This template is used when viewing Train pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_train()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('train') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
