{#
/**
 * @file trip.html.twig
 * Default theme implementation to present Trip data.
 *
 * This template is used when viewing Trip pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_trip()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('trip') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
